<div class="content-all">
  <div class="jumbotron transparent" style="min-height: 400px">
    <div class="container">
      <h1>Home</h1>
      <div>
      	<p>Hi! Welcome to My Site :)</p>
      	<p>My name is Wildan, feel free to take a look~</p>
      </div>
    </div>
  </div>
      
  <div class="container">
    <div class="row center">
      <h2><span class="glyphicon glyphicon-th-list"></span> My Menu</h2>
    </div>
    <div class="row">
      
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail center transparent">
          <span class="glyphicon glyphicon-user big"></span>
          <div class="caption">              
          <a href="#"><h3>My Profile</h3></a>
            <p> ... </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail center transparent">
          <span class="glyphicon glyphicon-film big"></span>
          <div class="caption">              
          <a href="#"><h3>Movies</h3></a>
            <p> ... </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail center transparent">
          <span class="glyphicon glyphicon-star-empty big"></span>
          <div class="caption">              
          <a href="#"><h3>Hobbies</h3></a>
            <p> ... </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail center transparent">
          <span class="glyphicon glyphicon-envelope big"></span>
          <div class="caption">              
          <a href="#"><h3>Contact Me</h3></a>
            <p> ... </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</div>