/* my own style */
body {
  background: url("/assets/background.png") no-repeat fixed;
  background-position: right;
  background-position: top;
  background-color: #eee;
}

div .center {
  width: 100%;
  text-align: center;
}

div .divider {
  height: 50px;
  margin: 9px 0;
  overflow: hidden;
  background-color: black;
}

.clear {
  clear: both;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.header{
  width: 100%;
  height: 70px;
  background: #fff;
}

.footer {
  margin: 35px 0px 0px 0px;
  width: 100%;
  height: 70px;
}

.transparent {
  background: url("/assets/trans_50.png") repeat;
}

.transparent-black {
  background: url("/assets/trans_black.png") repeat;
}


.big {
  font-size: 5em;
}

.med {
  font-size: 3em;
}

#footer .social-networks{width:40%;}

#footer .social-networks li{margin:0 0 0 4px;}

.social-networks{
  list-style:none;
  margin: 10px 0px 0px 0px;
  padding:0;
  float:left;
}

.social-networks li{
  float:left;
  margin:0 0 0 20px;
  position:relative;
  height:26px;
}

.social-networks a{
  text-indent:-9999px;
  overflow:hidden;
  float:left;
  background-repeat:no-repeat;
  background-position:top left !important;
}

.social-networks li.custom a{
  background:none;
  text-indent:0;
}

.social_links_shortcode .social-networks{float:none;}

#sidebar .social-networks li,.social_links_shortcode li{float:left !important; margin-left:0 !important; margin-right:0px !important;}

#sidebar .social-networks a{border-bottom:0 !important; padding:0 !important;}

#sidebar .social-networks li{margin-bottom:0px !important;}


.social-networks .facebook a{background-image:url(/assets/facebook.png) !important; width:24px; height:24px;}

.social-networks .twitter a{background-image:url(/assets/twitter.png) !important; width:24px; height:24px;}

.social-networks .linkedin a{background-image:url(/assets/linkedin.png) !important; width:24px; height:24px;}

.social-networks .facebook a,.person-author .facebook{
  background-image:url(/assets/facebook_icon.png) !important;
  -webkit-background-size:24px 24px;
  -moz-background-size:24px 24px;
  -o-background-size:24px 24px;
  background-size:24px 24px;
}

.social-networks .twitter a,.person-author .twitter{
  background-image:url(/assets/twitter_icon.png) !important;
  -webkit-background-size:24px 24px;
  -moz-background-size:24px 24px;
  -o-background-size:24px 24px;
  background-size:24px 24px;
}

.social-networks .linkedin a,.person-author .linkedin{
  background-image:url(/assets/linkedin.png) !important;
  -webkit-background-size:24px 24px;
  -moz-background-size:24px 24px;
  -o-background-size:24px 24px;
  background-size:24px 24px;
}

.jumbo-scroll{
  padding-top: 120px;
  background: url(/assets/gundam-exia.png) no-repeat 50%;
  background-size: 1102px 400px;
}

/*
.content-all {
  margin-bottom: 350px; 
  position: relative;
  z-index: 9;
  background: #fff;
}

.content-all-club {
  margin-bottom: 350px; 
  position: relative;
  z-index: 9;
  background: #fff;
}

.content-all-pricing {
  margin-bottom: 250px; 
  position: relative;
  z-index: 9;
  background: #fff;
}

.footer-link{
  position: fixed;
  width: 100%;
  bottom: 25px;
}
*/

.left {
  float: left;
}

.right-content-jumbotron-clubs {
  float: left;
  margin-left: 10px;
}

.green-btn {
  font-size: 2.5em;
  color: #eee;
  background-color: #6db900;
  margin: 10px 0px 10px 0px;
}

.green-white-btn {
  font-size: 1.5em;
  color: #6db900;
  background-color: #fff;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.content_box1 {
  border: 1px solid #EFEFEF;
  margin-bottom: 20px;
  padding: 30px 30px 0;
  width: 1024px;
}

.content_box2 {
  border-bottom: 5px solid #EFEFEF;
  margin-bottom: 20px;
  width: 1024px;
}

.content_box3 {
  margin-bottom: 20px;
  width: 1024px;
}

.green {
  color: #6db900;
}

.white {
  color: #fff;
}

.gray {
  padding-left: 3px;
  color: #A0A0A0;
  max-width: 525px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #8D4188;
}


ul li.pricing-row{

  background:#f8f8f8;

  font:25px 'MuseoSlab500Regular', arial, helvetica, sans-serif !important;

  color:#a0ce4e;

  text-shadow:0px 1px 1px rgba(255, 255, 255, 1);

}

.price em.time{

  color:#888 !important;

  font-size:11px !important;

  margin-left:0px !important;

  position:relative;

  top:-5px;

}

.price strong{

  position:relative;

  top:-30px;

  font-size:28px;

  color:#505050;

}

.price em.exact_price{

  display:inline !important;

  font-size:75px !important;

  font-weight:bold !important;

  font-style:normal !important;

}

.price sup{

  position:relative;

  top:-24px;

  font-size:23px;

  font-weight:bold;

}

.price em.time{

  color:#888 !important;

  font-size:26px !important;

  margin-left:0px !important;

  position:relative;

  top:-2px;

}

.price-with-decimal em.time{

  margin-left:-18px !important; 

}

.green-bg {
  background-color: #92c563;
}

.margin-zero {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.logo {
  height: 100px;
  width: 100px;
}
